<h3>Dashboard works!</h3>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 customerTable">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Customer Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by State"> State
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City"> City </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="postal">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Postal Code"> Postal Code
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.postal}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>