.activebutton {
    color: purple;
    text-decoration:underline !important;
  }

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: purple;
}

mat-drawer-container {
    height: 100vh;
    margin: 10px;
    margin-top: 64px; 
    border: 1px solid #555;
    background: #eee;
    width: auto;
}

mat-drawer {
    position: fixed;
    top: 66px; 
    width: 250px;
    padding: 20px;
    height: calc(100vh - 64px); /* Full height minus the toolbar */    
}

mat-drawer a {
    text-decoration: none;
}

mat-drawer-content {
    padding: 15px;
    overflow-y: hidden;
}

.nav-spacer {
    flex: 1 1 auto;
}

.user-icon, .menu-icon{
    color: purple;
}